<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Muay Thaï & Kickboxing</h2>
                <hr class="light">
                <p class="text-faded">Ouvert à tous, débutant ou confirmé à partir de 12 ans. Venez vous faire coacher par deux anciens boxeur professionnels: Akim et Arezki CHAYEM</p>
                <p class="text-bold">
                    Mardi et Jeudi de 19h à 21h
                </p>
                <p class="text-bold">
                    Complexe Marie Marvingt, 11 rue Solvay, 54320 Maxéville
                </p>
            </div>
        </div>
    </div>
</section>
